@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* Supporting */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  cursor: default;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

header {
  background-color: bisque;
  height: 100px;
}

.header_content {
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: 30% 70%;
  padding-top: 10px;
}

.main_header {
  font-size: 4rem;
}

.header_content > p {
  font-size: 2rem;
}

/* Both Sections */

h2 {
  margin: 0 auto 1.5rem 3rem;
  font-size: 2.5rem;
}

ul {
  list-style-type: none;
}

.movie_block {
  padding-left: 1.5rem;
  position: relative;
}

.cool_btn {
  position: absolute;
  bottom: 3.5%;
  right: 8%;
  text-align: center;
  padding-top: 20px;
  font-size: 1rem;
  height: 40px;
  width: 300px;
  border: none;
  box-shadow: 0 0 5px 1px silver;
  border-radius: 4px;
}

.movie_title {
  margin: 0 auto 12px auto;
  text-align: center;
  font-size: 2rem;
}

.movie_content {
  width: 90%;
  margin: 0 0.75rem;
  display: grid;
  grid-template-columns: 40% 60%;
}

.poster_wrap {
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.movie_poster {
  max-width: 80%;
  height: auto;
  border-radius: 4px;
}

.no_poster {
  max-height: 500px;
}

.movie_overview {
  justify-self: start;
  line-height: 1.5rem;
  text-indent: 1rem;
}

.item_del {
  height: 2px;
  width: 86%;
  background-color: darkgrey;
  margin: 15px 0 15px 6%;
}

/* Watch List Section */

#section_watchlist {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/scribble_light.png");
  background-attachment: fixed;
  background-repeat: repeat;
  padding: 30px 0 15px 0;
}

#watchlist {
  transition: transform 0.6s ease-in-out;
  /* width: 80%;
  margin-left: auto;
  margin-right: auto; */
}

.remove_from_WL_btn {
  background-color: crimson;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.remove_from_WL_btn:hover {
  background-color: tomato;
  user-select: none;
}

.watchlist_substrate {
  visibility: hidden;
  width: 63%;
}

.watchlist_plug {
  height: 50px;
  text-align: center;
  font-size: 2rem;
}


/* FlickList */

.flicklist {
  overflow-x: hidden;
  position: relative;
}

.flick_btn {
  position: absolute;
  top: 45%;
  height: 63px;
  width: 40px;
  cursor: pointer;
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.2s;
}

.flick_btn:hover {
  transform: scale(1.2);
}

.flick_btn--left {
  left: 10px;
  background-image: url("../images/left_arrow_chevron.svg");
}
.flick_btn--right {
  right: 10px;
  background-image: url("../images/right_arrow_chevron.svg");
}

.flicklist_container {
  height: 100%;
  position: relative;
}

.flick_item {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* Browse List Section */

#section_browse {
  background-color: khaki;
  padding: 30px 0 15px 0;
}

.movie_search {
  width: 88%;
  max-width: 968px;
  margin: 4px auto 1.6rem auto;
  display: grid;
  grid-template-columns: 80% 20%;
}

.input_block:hover {
  box-shadow: 0 0 4px 0 lightblue;
}

.input_block:focus {
  box-shadow: 0 0 4px 1px lightskyblue;
}

.input_block {
  display: block;
  padding-left: 1rem;
  height: 3rem;
  width: 98%;
  font-size: 1.2rem;
  outline: none;
  border: none;
  box-shadow: 0 0 4px 0 whitesmoke;
  transition: all 0.15s;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.go_btn {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  height: 3rem;
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 4px 0 palegreen;
  background-color: palegreen;
  transition: all 0.2s;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.go_btn:hover {
  background-color: lightgreen;
  box-shadow: 0 0 4px 0 lightgreen;
}

.add_to_WL_btn {
  background-color: cornflowerblue;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
.already_in_WL,
.add_to_WL_btn:hover {
  background-color: skyblue;
  user-select: none;
}

.browse_plug {
  padding-top: 170px;
  height: 290px;
  text-align: center;
  font-size: 4rem;
  font-variant-caps: all-petite-caps;
  letter-spacing: 2px;
}
